*{
	margin:0;
	padding:0;
}
#status{
    text-align: center;
    padding-top: 5px;
}
#status h3.red{color:#ff0000;}
#status h3.green{color:#0a931c;}
.wrap{
	border:1px solid #000;
	position:relative;
	margin:10px auto 0px;
	height:245px;
	width:460px;
	padding-top:15px;
	border-radius:10px;
	background: -webkit-linear-gradient(#fff, #f0f0f0);
}
h2{text-align:center;}
.time{
	width:225px;
	float:left;
	border-right:1px solid #000;
	padding-bottom:10px;
}
.money{
	width:225px;
	float:left;
}
.time div, .money div{
	margin-top:10px;
	text-align:center;
}
#real_time{text-align:center; margin-top:10px; font-size:18px; font-weight:bold;}
a{
	margin-top:10px;
	padding:5px;
	margin-left:0px;
	text-align:center;
	color:#fff;
	text-decoration:none;
}
a.openTable{
	width:430px;
	height:30px;
	line-height:30px;
	margin-left:10px;
	font-size:22px;
	display:block;
	border-radius:10px;
	background: -webkit-linear-gradient(#0fc927, #0a931c);
}
a.closeTable{
	width:205px;
	height:30px;
	line-height:30px;
	margin-left:10px;
	display:block;
	float:left;
	font-size:18px;
	border-radius:10px;
	background: -webkit-linear-gradient(#e65663, #bd1323);
}
a.sbrosTable{
	width:205px;
	height:30px;
	line-height:30px;
	margin-left:10px;
	display:block;
	float:left;
	font-size:18px;
	border-radius:10px;
	background: -webkit-linear-gradient(#7092de, #4268be);
}
.timeBord{text-align:center; font-size:13px;display:none;}
.timeBord h3{ font-size:16px;}